project/app/soporte/esquemas/3.0.0/altaAlquilerVehiculo.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by DINQ / DSIN / INSI / EATE (PEUGEOT CITROEN AUTOMOBILES SA) --><xsd:schema targetNamespace="http://www.neg.hospedajes.mir.es/altaAlquilerVehiculo" xmlns:hospe="http://www.neg.hospedajes.mir.es/tiposGenerales" xmlns="http://www.neg.hospedajes.mir.es/altaAlquilerVehiculo" xmlns:xsd="http://www.w3.org/2001/XMLSchema" version="1.0.0-RC.1">	<xsd:import namespace="http://www.neg.hospedajes.mir.es/tiposGenerales" schemaLocation="tiposGenerales.xsd"/>	<xsd:element name="peticion" type="peticionType"/>	<xsd:complexType name="peticionType">		<xsd:sequence>			<xsd:element name="solicitud" type="solicitudType"/>		</xsd:sequence>	</xsd:complexType>	<xsd:complexType name="solicitudType">		<xsd:sequence>			<xsd:element name="comunicacion" type="comunicacionType" maxOccurs="unbounded"/>		</xsd:sequence>	</xsd:complexType>	<xsd:complexType name="comunicacionType">		<xsd:sequence>			<xsd:element name="contrato" type="hospe:contratoAlquilerType"/>			<xsd:element name="vehiculo" type="hospe:vehiculoAlquilerType"/>			<xsd:element name="persona" type="hospe:conductorAlquilerType" minOccurs="2" maxOccurs="3"/>		</xsd:sequence>	</xsd:complexType></xsd:schema>