project/app/soporte/esquemas/3.0.0/comunicacion.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.soap.servicios.hospedajes.mir.es/comunicacion" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.soap.servicios.hospedajes.mir.es/comunicacion" targetNamespace="http://www.soap.servicios.hospedajes.mir.es/comunicacion">
  <wsdl:types xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.soap.servicios.hospedajes.mir.es/comunicacion" targetNamespace="http://www.soap.servicios.hospedajes.mir.es/comunicacion" version="1.0.0-RC.1">
	<xsd:element name="comunicacionRequest" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
		<xsd:complexType xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:sequence xmlns:xsd="http://www.w3.org/2001/XMLSchema">
				<xsd:element name="peticion" type="peticionType" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="comunicacionResponse" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
		<xsd:complexType xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:sequence xmlns:xsd="http://www.w3.org/2001/XMLSchema">
				<xsd:element name="respuesta" type="estadoRespuestaType" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
				<xsd:element maxOccurs="unbounded" minOccurs="0" name="resultado" type="wscomunicacionType" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="peticionType" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
		<xsd:sequence xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:element name="cabecera" type="cabeceraLoteType" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
			<xsd:element name="solicitud" type="solicitudType" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="cabeceraLoteType" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
		<xsd:sequence xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:element name="codigoArrendador" type="codigoArrendadorType" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
			<xsd:element name="aplicacion" type="string50Type" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
			<xsd:element name="tipoOperacion" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
				<xsd:simpleType xmlns:xsd="http://www.w3.org/2001/XMLSchema">
					<xsd:restriction base="operacionType" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
						<xsd:enumeration value="A" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
						<xsd:enumeration value="B" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
						<xsd:enumeration value="C" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element minOccurs="0" name="tipoComunicacion" type="comunicacionType" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="codigoArrendadorType" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
		<xsd:restriction base="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:maxLength value="10" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
			<xsd:whiteSpace value="collapse" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="string50Type" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
		<xsd:restriction base="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:maxLength value="50" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
			<xsd:whiteSpace value="collapse" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LoteType" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
		<xsd:restriction base="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:maxLength value="36" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
			<xsd:whiteSpace value="collapse" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="estadoRespuestaType" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
		<xsd:sequence xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:element name="codigo" type="xsd:int" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
			<xsd:element name="descripcion" type="string100Type" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
			<xsd:element name="lote" type="LoteType" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="operacionType" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
		<xsd:annotation xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:documentation xmlns:xsd="http://www.w3.org/2001/XMLSchema">Tipo de operación podrá ser 'A' (Alta), 'C' (Consulta) ó 'B' (Anulación).</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:maxLength value="1" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
			<xsd:whiteSpace value="collapse" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="comunicacionType" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
		<xsd:restriction base="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:maxLength value="2" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
			<xsd:whiteSpace value="collapse" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="solicitudType" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
		<xsd:annotation xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:documentation xmlns:xsd="http://www.w3.org/2001/XMLSchema">La solicitud será el fichero xml comprimido (zip) y en Base64.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:whiteSpace value="collapse" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="wscomunicacionType" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
		<xsd:sequence xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:element name="lote" type="LoteType" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
			<xsd:element name="tipoComunicacion" type="comunicacionType" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
			<xsd:element name="tipoOperacion" type="operacionType" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
			<xsd:element name="fechaPeticion" type="xsd:dateTime" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
			<xsd:element name="fechaProcesamiento" type="xsd:dateTime" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
			<xsd:element name="codigoEstado" type="xsd:int" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
			<xsd:element name="descEstado" type="string200Type" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
			<xsd:element name="identificadorUsuario" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
			<xsd:element name="nombreUsuario" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
			<xsd:element name="codigoArrendador" type="codigoArrendadorType" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
			<xsd:element name="aplicacion" type="string50Type" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
			<xsd:element minOccurs="0" name="resultadoComunicaciones" type="resultadosType" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="resultadosType" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
		<xsd:sequence xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="resutadoComunicacion" type="resultadoType" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="resultadoType" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
		<xsd:sequence xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:element name="orden" type="xsd:int" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
			<xsd:choice xmlns:xsd="http://www.w3.org/2001/XMLSchema">
				<xsd:element name="codigoComunicacion" type="LoteType" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
				<xsd:sequence xmlns:xsd="http://www.w3.org/2001/XMLSchema">
					<xsd:element name="tipoError" type="string5Type" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
					<xsd:element name="error" type="string100Type" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
				</xsd:sequence>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:simpleType name="string5Type" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
		<xsd:restriction base="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:maxLength value="5" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
			<xsd:whiteSpace value="collapse" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="string100Type" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
		<xsd:restriction base="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:maxLength value="100" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
			<xsd:whiteSpace value="collapse" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="string200Type" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
		<xsd:restriction base="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:maxLength value="200" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
			<xsd:whiteSpace value="collapse" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
		</xsd:restriction>
	</xsd:simpleType>

</xsd:schema>
  </wsdl:types>
  <wsdl:message name="comunicacionResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:part element="tns:comunicacionResponse" name="comunicacionResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="comunicacionRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:part element="tns:comunicacionRequest" name="comunicacionRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ComunicacionPort" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:operation name="comunicacion" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <wsdl:input message="tns:comunicacionRequest" name="comunicacionRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:input>
      <wsdl:output message="tns:comunicacionResponse" name="comunicacionResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ComunicacionPortSoap11" type="tns:ComunicacionPort" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
    <wsdl:operation name="comunicacion" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <soap:operation soapAction="" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      <wsdl:input name="comunicacionRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:input>
      <wsdl:output name="comunicacionResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ComunicacionPortService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:port binding="tns:ComunicacionPortSoap11" name="ComunicacionPortSoap11" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <soap:address location="http://localhost:8280/hospedajes-web/ws/v1/comunicacion" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>